language: node_js
node_js:
  - 8
env:
  - PHANTOMJS_PATH=/usr/local/phantomjs/bin/phantomjs
after_success:
  - codeclimate-test-reporter < ./test/unit-test-coverage/lcov.info
addons:
    code_climate:
        repo_token: e33179443a9c15d1eec8a2e3c3e588c760841027c24f2fc1aeddba12092957de
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/fa7e4c7b8c5c130ada47
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always