<html>
	<head></head>
	<body>
		<h3>Hi,</h3>
		<p>
			{{ email.from }} wants to share file(s).
		</p>
		{% if message %}
		<p>
			{{ message }}
		</p>
		{% endif %}
		<table>
			{% for file in files %}
				<tr>
					<td><a href="{{ file.link }}">{{ file.name }} ({{ file.size }})</a></td>
				</tr>
			{% endfor %}
		</table>
		<p>
			You can download each file individually by clicking on the file name.<br />
			It is also possible to <a href="{{ bundle.link }}">download a collection of all files</a>.
		</p>
		<p>
			<em>Powered by <a href="youtransfer.io">youtransfer.io</a></em>
		</p>
	</body>
</html>
