{% extends "layout.html" %}

{% block content %}
<div class="dl hp jumbotron" id="dl">
	{% include "title.html" %}

	{% if general.enableDownload %}

	{% include "gettoken.html" %}

	{% elif errors.length > 0 %}

		<div class="download text-center">
			{% import "errors.html" as err %}
			{{ err.show(errors) }}
		</div>

	{% else %}

		<div class="download text-center">
			<div class="help-block">
				<div class="text-danger">
					<p>
						Err... this is awkward...<br />
						File download by token has been disabled.<br />
						Didn't you get the memo?
					</p>
				</div>
			</div>
		</div>

	{% endif %}

	<div class="text-center">
		<a href="/" data-async data-target="dl">or return to homepage</a>
	</div>
</div>
{% endblock %}
