{% extends "layout.html" %}

{% block content %}
<div class="hp jumbotron" id="hp">
	<header class="col-md-12">
		<h1>{{ title }}</h1>
		<h2>{{ subtitle }}</h2>
	</header>

	<div class="col-md-6">
		{%if success and isPostback %}

		{% import "dropzone.html" as dropzone %}
		{{ dropzone.preview(bundle, isPostback)}}

		{% else %}

		{% include "fileupload.html" %}

		{% endif %}
	</div>

	<div class="col-md-6 dz-completed-container">

		{%if success and isPostback %}

		{% include "sendmail.html" %}

		{% else %}

		<div class="separator text-center">
			<h6 class="separator-text"><em>or</em></h6>
			<hr class="separator-ruler visible-xs-block visible-sm-block" />
		</div>

		{% include "gettoken.html" %}

		{% endif %}
	</div>

</div>
{% endblock %}
