{% extends "layout.html" %}

{% block content %}
<div class="settings">
	<div class="col-md-3">
		<ul class="nav nav-tabs nav-stacked">
			<li>
				<a href="/"><span class="glyphicon glyphicon-menu-left"></span> Return to homepage</a>
			</li>
		</ul>
		<ul class="nav nav-tabs nav-stacked nav-pills" role="tablist">
			<li role="presentation" class="active">
				<a href="#general" aria-controls="general" role="tab">General</a>
			</li>
			<li role="presentation">
				<a href="#storage" aria-controls="storage" role="tab">Storage</a>
			</li>
		</ul>
	</div>

	<div class="col-md-9">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="general">
				{% include "settings.general.html" %}
			</div>
			<div role="tabpanel" class="tab-pane" id="storage">
				{% include "settings.storage.html" %}
			</div>
		</div>
	</div>
</div>
{% endblock %}