{% extends "layout.html" %}

{% block content %}
<div class="settings">
	<div class="col-md-3">
		<ul class="nav nav-tabs nav-stacked nav-pills">
			<li>
				<a href="/"><span class="glyphicon glyphicon-menu-left"></span> Return to homepage</a>
			</li>
		</ul>
		<ul class="nav nav-tabs nav-stacked nav-pills" role="tablist">
			<li role="presentation" class="active">
				<a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a>
			</li>
		</ul>
	</div>

	<div class="col-md-9">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="general">
				<h1>General</h1>
			</div>
		</div>
	</div>
</div>
{% endblock %}