{% extends "layout.html" %}

{% block content %}
<div class="settings">
	<div class="col-md-3">
		<ul class="nav nav-tabs nav-stacked nav-pills">
			<li>
				<a href="/"><span class="glyphicon glyphicon-menu-left"></span> Return to homepage</a>
			</li>
		</ul>
		<ul class="nav nav-tabs nav-stacked nav-pills" role="tablist">
			<li role="presentation" class="active">
				<a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a>
			</li>
		</ul>
	</div>

	<div class="col-md-9">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="general">
				<h1>General</h1>

				{%if isPostback %}
					{%if success %}
					<div class="alert alert-success alert-dismissible fade in" role="alert">
						<button type="button" class="close hidden" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<strong>Success!</strong> Your changes have been saved.
					</div>
					{% else %}
					<div class="alert alert-danger alert-dismissible fade in" role="alert">
						<button type="button" class="close hidden" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<strong>Error!</strong> Your changes could not be saved.
					</div>
					{% endif %}
				{% endif %}

				<form class="form-horizontal" method="post">
					<div class="form-group">
						<label for="title" class="col-sm-3 control-label">Title</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="settings[title]" id="title" placeholder="{{ title }}">
						</div>
						<div class="col-sm-3"></div>
					</div>
					<div class="form-group">
						<label for="subtitle" class="col-sm-3 control-label">Tagline</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="settings[subtitle]" id="subtitle" placeholder="{{ subtitle }}">
						</div>
						<div class="col-sm-3"></div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-6 text-right">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
						<div class="col-sm-3"></div>
					</div>					
				</form>				

			</div>
		</div>
	</div>
</div>
{% endblock %}