{% extends "settings.html" %}

{% block tabcontent %}
<div role="tabpanel" class="tab-pane active" id="general">
	<h1>General</h1>

	{%if isPostback %}
		{%if success %}
		<div class="alert alert-success alert-dismissible fade in" role="alert">
			<button type="button" class="close hidden" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Success!</strong> Your changes have been saved.
		</div>
		{% else %}
		<div class="alert alert-danger alert-dismissible fade in" role="alert">
			<button type="button" class="close hidden" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Error!</strong> Your changes could not be saved.
		</div>
		{% endif %}
	{% endif %}

	<form class="form-horizontal" method="post" data-xhrform data-xhrform-target="tab-content" data-xhrform-replace="true">
		<div class="form-group">
			<label for="title" class="col-sm-3 control-label">Title</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" name="settings[general][title]" id="title" value="{{ general.title }}">
			</div>
			<div class="col-sm-3"></div>
		</div>
		<div class="form-group">
			<label for="subtitle" class="col-sm-3 control-label">Tagline</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" name="settings[general][subtitle]" id="subtitle" value="{{ general.subtitle }}">
			</div>
			<div class="col-sm-3"></div>
		</div>

		<div class="form-group">
			<label for="baseUrl" class="col-sm-3 control-label">Base URL</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" name="settings[general][baseUrl]" id="baseUrl" value="{{ general.baseUrl }}">
			</div>
			<div class="col-sm-3"></div>
		</div>

		<div class="form-group">
			<label for="cleanupSchedule" class="col-sm-3 control-label">Cleanup schedule</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" name="settings[general][cleanupSchedule]" id="cleanupSchedule" value="{{ general.cleanupSchedule }}">
			</div>
			<div class="col-sm-3"></div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<div class="checkbox">
					<label for="schedulerEnabled">
						<input type="checkbox" name="settings[general][schedulerEnabled]" id="schedulerEnabled" {{ "checked" if general.schedulerEnabled }} value="true">
						Enable scheduled cleanup of files
					</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<div class="checkbox">
					<label for="enableDownload">
						<input type="checkbox" name="settings[general][enableDownload]" id="enableDownload" {{ "checked" if general.enableDownload }} value="true">
						Enable file download feature
					</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-6 text-right">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</form>
</div>
{% endblock %}
