{% extends "layout.html" %}

{% block content %}
<div class="hp jumbotron" id="unlock">
	<header class="col-md-12">
		<h1>{{ title | safe }}</h1>
		<h2>{{ subtitle | safe }}</h2>
	</header>
	<div class="unlock text-center">
		<form class="form-inline" method="post">
			<p>Please provide the code to unlock the settings pages</p>
			<div class="form-group">
				<input type="password" class="form-control" name="unlockCode" id="unlockCode" required="true">
				<button type="submit" class="btn btn-primary">Unlock</button>
			</div>
		</form>
	</div>
	<div class="text-center">
		<a href="/" data-async data-target="unlock">or return to homepage</a>
	</div>
</div>
{% endblock %}
