
.dropzone {
	background: white none repeat scroll 0 0;
    border: 2px dashed #0087f7;
    border-radius: 5px;
}

.dz-action-container {
	margin-bottom: 15px;
}

/* Mimic table appearance */
.dz-preview-template.table {
	display: table;
}

.dz-preview-template.table .dz-preview-item {
	display: table-row;
}

.dz-preview-template.table .dz-preview-item > div {
	display: table-cell;
	vertical-align: top;
	border-top: 1px solid #ddd;
	padding: 8px;
}

.dz-preview-template.table .dz-preview-item:nth-child(odd) {
	background: #f9f9f9;
}

.dz-preview-template .dz-preview-item .dz-preview-description p {
	font-size: inherit;
	margin: 0 0 5px;
}

/* Hide the delete button initially */
.dz-preview-template .dz-preview-item .dz-action-delete {
	display: none;
}

/* Hide the progress bar when finished */
.dz-preview-template .dz-preview-item.dz-success .progress {
	display: none;
}

/* Hide the start and cancel buttons and show the delete button */
.dz-preview-template .dz-preview-item.dz-success .dz-action-start,
.dz-preview-template .dz-preview-item.dz-success .dz-action-cancel {
	display: none;
}
.dz-preview-template .dz-preview-item.dz-success .dz-action-delete {
	display: block;
}

.dz-preview-template.table .dz-preview-item .dz-preview-progress {
	vertical-align: middle;
	min-width: 75px;
	max-width: 100px;
}

.dz-preview-progress .progress {
	margin-bottom: 0;
}

.dz-preview-actions {
	max-width: 65px;	
}

.dz-preview-actions .btn {
	font-size: 10px;
}