<div class="table table-striped dz-preview-template files {{ "hidden" if not isPostback }}">

	<div class="dz-preview-item">
		<div class="dz-preview-description">
			<span data-dz-name>{{ name }}</span> (<span data-dz-size>{{ filesize }}</span>)
			<p>
				<span class="text-success" data-dz-link>
					{%if isPostback %}
						Token: {{ id }} | <a href="{{ link }}">Download file</a>
					{% endif %}
				</span>
				<span class="text-danger" data-dz-errormessage></span>
			</p>
		</div>
		{%if not isPostback %}
		<div class="dz-preview-progress">
			<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
				<div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
			</div>
		</div>
		<div class="dz-preview-actions text-right">
			<button class="btn btn-primary dz-action-start"><span class="glyphicon glyphicon-upload"></span> Start</button>
			<button data-dz-remove class="btn btn-warning dz-action-cancel"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
		</div>
		{% endif %}
	</div>
</div>