{% macro preview(bundle, isPostback) %}
<div class="table table-striped dz-preview-template files {{ "hidden" if not isPostback }}">
	{% if bundle %}
		<div class="dz-preview-bundle"><span class="glyphicon glyphicon-download-alt"></span> <a href="/bundle/{{ bundle.id }}/">Download all files as a zip archive (<span class="glyphicon glyphicon-compressed"></span>)</a></div>
		{% for file in bundle.files %}
			{{ previewItem(file, isPostback) }}
		{% endfor %}
	{% else %}
		{{ previewItem() }}
	{% endif %}
</div>
{% endmacro %}

{% macro previewItem(file, isPostback) %}
	<div class="dz-preview-item">
		<div class="dz-preview-description {{ "col-md-7" if not isPostback }}">
			<span data-dz-name>{{ file.name }}</span> (<span data-dz-size>{{ file.filesize }}</span>)
			<div class="dz-preview-result">
				<span class="text-success" data-dz-link>{%if isPostback %}<a href="/download/{{ file.id }}/"><span class="glyphicon glyphicon-download-alt"></span> {{ file.id }}</a>{% endif %}</span>
				<span class="text-danger" data-dz-errormessage></span>
			</div>
		</div>

		{%if not isPostback %}
		<div class="dz-preview-progress col-md-4">
			<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
				<div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
			</div>
		</div>
		{% endif %}
	</div>
{% endmacro %}
