<div class="table table-striped dz-preview-template files {{ "hidden" if not isPostback }}">
	<div class="dz-preview-item">
		<div class="dz-preview-description col-md-7">
			<span data-dz-name>{{ name }}</span> (<span data-dz-size>{{ filesize }}</span>)
			<div class="dz-preview-result">
				<span class="text-success" data-dz-link>{%if isPostback %}<span class="glyphicon glyphicon-download-alt"></span> <a href="/download/{{ id }}/">{{ id }}</a>{% endif %}</span>
				<span class="text-danger" data-dz-errormessage></span>
			</div>
		</div>

		{%if not isPostback %}
		<div class="dz-preview-progress col-md-4">
			<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
				<div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
			</div>
		</div>
		<div class="dz-preview-actions col-md-1 text-right">
			<button data-dz-remove type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		{% endif %}
	</div>
</div>