<div data-fileupload class="dz-action-add dz-clickable">

	{% include "dropzone.html" %}

	<div class="dz-upload-complete hidden">
		<h2>Email a friend!</h2>
		<form class="form form-group-sm" action="/send" method="POST">
			<div class="form-group">
				<input type="text" id="from" name="email[from]" class="form-control" placeholder="Your email">
			</div>

			<div class="form-group">
				<input type="text" id="to" name="email[to]" class="form-control" placeholder="Your friend's email">
			</div>

			<div class="form-group">
				<textarea placeholder="Message" name="email[body]" class="form-control" rows="5"></textarea>
			</div>

			<div class="form-group">
				<button type="submit" name="submit" class="btn btn-default">Send</button>
			</div>
		</form>
	</div>

	<div class="fallback">
		<form method="POST" action="/upload" class="form" enctype="multipart/form-data">
			<label class="btn btn-default" for="payload">
				<input type="file" id="payload" name="payload" style="display:none;" />
				Browse
			</label>
			<button type="submit" name="submit" class="btn btn-primary">Upload</button>
			<span class="help-block">
				Click browse to select file(s). <br />
				Afterwards press upload to transfer.
			</span>
		</form>
	</div>
</div>