{% import "dropzone.html" as dropzone %}
<div data-fileupload class="dz-action-add dz-clickable">

	{{ dropzone.preview() }}

	{% include "sendmail.html" %}

	<div class="fallback">
		<form method="POST" action="/" class="form" enctype="multipart/form-data">
			<label for="payload">
				<input type="file" id="payload" name="payload" style="display:none;" required="required" multiple="multiple" />
				<span class="btn btn-default">Browse</span>
			</label>
			<button type="reset" name="reset" class="btn btn-default">Cancel</button>
			<button type="submit" name="submit" class="btn btn-primary">Upload</button>
			<span class="help-block">
				Click browse to select file(s). <br />
				Afterwards press upload to transfer.
			</span>
		</form>
	</div>
</div>
