<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header hidden-xs">
			<a class="navbar-brand" href="http://youtransfer.io">
				Powered by YouTransfer.io
			</a>
		</div>
		<ul class="nav navbar-nav navbar-right">

			{% if security.accessRights == 'restricted' and user.group == 'su' %}
			<li><a href="/accounts">Accounts</a></li>
			{% endif %}
			{% if not state.finalised %}
			<li><a href="/settings">Settings</a></li>
			{% endif %}
		</ul>
	</div>
</nav>
