
body { 
	background-color: #000000;
	background-image: url("../assets/204H.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 60px; 
	font-family: "kulturista-web"; 
}

/*// ------------------------------------------------------------------------------------------ Header */

.navbar-brand {
	font-style: italic;
}

/*// ------------------------------------------------------------------------------------------ Homepage */

.hp {
	margin-top: 50px;
	min-height: 450px;
}

/*// ------------------------------------------------------------------------------------------ Separator */

.separator {
	margin: 10px 0 30px;
}

.separator-text {
	display: inline-block;
	background-color: #eee;
	width: 50px;
}

.separator-ruler {
	margin: -16px auto 10px;
	border-top: 1px solid #ddd;
}